body {
	background-color: #001e57;
}

header {
	padding: 3rem;
}

header p {
	font-size: 2rem;
}

article {
	margin: 2rem 3rem 0;
}

article p {
	margin-bottom: 2rem;
}

article p,
article li {
	font-size: 1.5rem;
	max-width: 35rem;
}

footer {
	margin: 5rem 3rem 3rem;
}

footer p {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 2.1rem;
	color: White;
	padding-top: 5rem;
}

h2 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: White;
	padding-bottom: 0.5rem;
}

a {
	color: White;
}

p, li {
	font-family: Times New Roman, sans-serif;
	color: Gainsboro;
}
